<div id="<%= dom_id customer_preference %>">
  <p>
    <strong>Preferred destination:</strong>
    <%= customer_preference.preferred_destination %>
  </p>

  <p>
    <strong>Preferred travel date:</strong>
    <%= customer_preference.preferred_travel_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= customer_preference.user_id %>
  </p>

</div>
